<!doctype html>
<html lang="en">
 <head>
	<meta charset="UTF-8">
	<title>SAJADV - Teste processo seletivo</title>
	<link rel="stylesheet" href="css/custom.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/bootstrap-theme.css">
	<style>
	span {margin:5px;}
	</style>
 </head>
 <body>
  
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="index.html">Home</a></li>
					<li><a href="responsavel.html">Responsável</a></li>
					<li class="active"><a href="processo.html">Processo</a></li>
                </ul>
            </div>
        </div>
    </div>

	<div ng-app="sajadvApp">
		<div ng-controller="ProcessoController">

			<div class="container well mtp75">
				<h3>Processos</h3>
				<hr>
				<div class="row">
					<span class="pull-left">
						Filtro:
					</span>
				</div>
				<div class="row">
					<span class="pull-left">
						<input type="text" ng-model="filter.numeroProcessoUnificado" class="form-control" placeholder="Numero Processo Unificado" />
					</span>
					<span class="pull-left">
						<input type="text" ng-model="filter.pastaFisicaCliente" class="form-control" placeholder="Pasta Fisica Cliente" />
					</span>
					<span class="pull-left">
						<input type="text" ng-model="filter.nomeResponsavel" class="form-control" placeholder="Nome Responsável " />
					</span>
					<span class="pull-left" style="padding-top:8px">
						<label><input type="checkbox" ng-model="filter.segredoJustica"/>&nbsp;Segredo Justiça</label>
					</span>
				</div>
				<div class="row">

					<span class="pull-left" style="padding-top:8px">
						<label>Data Distribuição:</label>
					</span>
					<span class="pull-left">
						<input type="date" ng-model="filter.dataDistribuicaoInicial" placeholder="yyyy-MM-dd" class="form-control" />
					</span>
					<span class="pull-left">
						<input type="date" ng-model="filter.dataDistribuicaoFinal" placeholder="yyyy-MM-dd" class="form-control" />
					</span>
					<span class="pull-left">
						 <select ng-model="filter.idSituacao" class="form-control">
						  	<option ng-repeat="situacao in situacoes" value="{{situacao.id}}">{{situacao.nome}}</option>
						</select>
					</span>

					<span class="pull-left" >
						<button ng-click="clearFilter()" class="btn btn-success">Limpar</button>
					</span>
					<span class="pull-left">
						<button ng-click="findProcessos(filter)" class="btn btn-success">Pesquisar</button>
					</span>
					<span ng-click="newProcesso()" class="pull-right btn btn-success">Novo Processo</span>
				</div>

				<br><br>
				<div class="row">
					
				<table cellpadding=10 cellspacing=10 border=0 class="table">
					<tr>
						<th>Numero Processo Unificado</th>
						<th>Data Distribuição</th>
						<th>Segredo Justiça</th>
						<th>Pasta Física Cliente</th>
						<th>Descrição</th>
						<th>Situação</th>
						<th>Responsáveis</th>
						<th>Ações</th>
					</tr>
					
					<tr dir-paginate="processo in processos | itemsPerPage : size" total-items="totalCount" pagination-id="list_processos"
						ng-class="$even ? 'even-row' : 'odd-row'">
						<td>{{processo.numeroProcessoUnificado}}</td>
						<td>{{processo.dataDistribuicao | date:'dd/MM/yyyy'}}</td>
						<td>{{processo.segredoJustica ? "Sim" : "Não"}}</td>
						<td>{{processo.pastaFisicaCliente }}</td>
						<td>{{processo.descricao }}</td>
						<td>{{processo.situacao.nome }}</td>
						<td><span ng-repeat="responsavel in processo.responsaveis"><br ng-if="$index > 0"/>{{responsavel.nome}}</span></td>
						<td>
							<span ng-click="editProcesso(processo)" class="btn btn-primary "><img src="img/pencil.png"/></span>
							<span ng-click="deleteProcesso(processo)" class="btn btn-danger"><img src="img/garbage.png"/></span>
						</td>
					</tr>
				</table>


				<div class="text-center">
					<dir-pagination-controls
						auto-hide="false"
						direction-links="true"
						boundary-links="true"
						on-page-change="pageChanged(newPageNumber)"
						pagination-id="list_processos">
					</dir-pagination-controls>
				</div>
				<hr>
				<div class="text-center">
						<select class="form-select"
						ng-model="size"
						ng-change="findProcessos(filter)"
						ng-options="page for (idx,page) in itemSize">
						</select>
					<label>Itens por Página &nbsp;&nbsp;/&nbsp;&nbsp; </label>
					<label>{{totalCount}} Processo(s) encontrado(s)</label>
				</div>
				
				</div>
			</div>

			<div modal="showModal" close="cancel()" class="modal fade">
				<div class="modal-dialog" role="document">
    				<div class="modal-content">
						<div class="modal-header">
							<h4>Cadastro Processo</h4>
						</div>
						<div class="modal-body">
							<table class="table" width="700">
								<tr>
									<td width="200">Numero Processo Unificado</td>
									<td><input type="text" ng-model="processo.numeroProcessoUnificado" class="form-control"/></td>
								</tr>
								<tr>
									<td>Data Distribuição</td>
									<td><input type="date" data-date-format="mm/dd/yyyy" ng-model="processo.dataDistribuicao" class="form-control"/></td>
								</tr>
								<tr>
									<td>Situação</td>
									<td><select ng-model="processo.situacao" ng-options="s as s.nome for s in situacoes track by s.id" class="form-control"/>
									</td>
								</tr>
								<tr>
									<td>Pasta Física Cliente</td>
									<td><input type="text" ng-model="processo.pastaFisicaCliente" class="form-control"/></td>
								</tr>
								<tr>
									<td>Segredo Justiça</td>
									<td><input type="checkbox" ng-model="processo.segredoJustica"/></td>
								</tr>
								<tr>
									<td>Responsáveis</td>
									<td>
										<div class="row" style="padding-left:10px">
											<span class="pull-left">
												<select ng-model="responsavelSelecionado" ng-options="r as r.nome for r in responsaveisResumido track by r.id" class="form-control">
												</select>
											</span>
											<span class="pull-left" style="display: block;">
												<button class="btn btn-success" ng-click="addResponsavel()">Adicionar</button>
											</span>
										</div>
										<div class="row">
											<label class="form-control pull-left" style="width:80%; margin-left:15px;"
												   ng-repeat="responsavel_ in processo.responsaveis">
													{{responsavel_.nome}} <img ng-click="removeResponsavel(responsavel_)" src="img/garbage-v.png"/>
											</label>
										</div>
									</td>
								</tr>
								<tr>
									<td>Descrição</td>
									<td><textarea ng-model="processo.descricao" class="form-control"></textarea></td>
								</tr>
								<tr>
									<td>Processo Vinculado</td>
									<td>
										<select ng-model="processo.idProcessoPai"
												ng-options="p.id as p.numeroProcessoUnificado for p in processosResumido"
												class="form-control">
												</select>
									</td>
								</tr>
								<tr>
									<td>Processos Filhos</td>
									<td><div class="row">
										<span ng-repeat="processoFilho in processo.processosFilhos"><br ng-if="$index > 0"/>
											{{processoFilho.numeroProcessoUnificado}} (Data distribuição: {{processoFilho.dataDistribuicao | date:'dd/MM/yyyy'}})</span>
										</div>
									</td>
								</tr>
							</table>
						</div>
						<div class="modal-footer">
						  <button class="btn btn-success" ng-click="saveProcesso()">Salvar</button>
						  <button class="btn" ng-click="cancel()">Cancelar</button>
						</div>
					</div>
				</div>
			  </div>
		</div>
	</div>


	<script src="js/angular.min.js"></script>
	<script src="js/dir-pagination.js"></script>
	<script src="js/angular-ui-bootstrap-modal.js"></script>
	<script src="js/angular-base64-upload.js"></script>
	<script src="app/base-url.js"></script>
	<script src="app/util.js"></script>
	<script src="app/module.js"></script>
	<script src="app/model.js"></script>
	<script src="app/services/situacao-service.js"></script>
	<script src="app/services/responsavel-service.js"></script>
	<script src="app/services/processo-service.js"></script>
	<script src="app/controllers/processo-controller.js"></script>


 </body>
</html>
