<!doctype html>
<html lang="en">
 <head>
	<meta charset="UTF-8">
	<title>SAJADV - Teste processo seletivo</title>
	<link rel="stylesheet" href="css/custom.css">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/bootstrap-theme.css">
	<style>
	span {margin:5px;}
	</style>
 </head>
 <body>
  
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="index.html">Home</a></li>
					<li class="active"><a href="responsavel.html">Responsável</a></li>
					<li><a href="processo.html">Processo</a></li>
                </ul>
            </div>
        </div>
    </div>

	<div ng-app="sajadvApp">
		<div ng-controller="ResponsavelController">
			<div class="container well mtp75">
				<h3>Responsáveis</h3>
				<hr>
				<div class="row">

					<span class="pull-left">
						Filtro:
					</span>
				</div>
				<div class="row">
					<span class="pull-left">
						<input type="text" ng-model="filter.nome" class="form-control" placeholder="Nome" />
					</span>
					<span class="pull-left">
						<input type="text" ng-model="filter.cpf" class="form-control" placeholder="Cpf " />
					</span>
					<span class="pull-left">
						<input type="text" ng-model="filter.numeroProcessoUnificado" class="form-control" placeholder="Número Processo Unificado" />
					</span>
					<span class="pull-left">
						<button ng-click="clearFilter()" class="btn btn-success">Limpar</button>
					</span>
					<span class="pull-left">
						<button ng-click="findResponsaveis(filter)" class="btn btn-success">Pesquisar</button>
					</span>
					<span ng-click="newResponsavel()" class="pull-right btn btn-success">Novo Responsável</span>
				</div>

				<br><br>
				<div class="row">
					
				<table cellpadding=10 cellspacing=10 border=0 class="table">
					<tr>
						<th>Nome</th>
						<th>Cpf</th>
						<th>Processos que é responsável</th>
						<th>Ações</th>
					</tr>
					
					<tr dir-paginate="responsavel in responsaveis | itemsPerPage : size" total-items="totalCount" pagination-id="list_responsaveis"
						ng-class="$even ? 'even-row' : 'odd-row'">
						<td>{{responsavel.nome | uppercase}}</td>
						<td>{{responsavel.cpf }}</td>
						<td><span ng-repeat="npu in responsavel.numeroUnificadoProcessos">
							<br ng-if="$index > 0"/>{{npu}}
						</span></td>
						<td>
							<span ng-click="editResponsavel(responsavel)" class="btn btn-primary "><img src="img/pencil.png"/></span>
							<span ng-click="deleteResponsavel(responsavel)" class="btn btn-danger"><img src="img/garbage.png"/></span>
						</td>
					</tr>
				</table>
				<div class="pull-right" style="width:10%;">
						<select class="form-control"
						ng-model="size"
						ng-change="findResponsaveis(filter)"
						ng-options="page for (idx,page) in itemSize">
						</select>
				</div>

				<div class="text-center">
					<dir-pagination-controls
						auto-hide="false"
						direction-links="true"
						boundary-links="true"
						on-page-change="pageChanged(newPageNumber)"
						pagination-id="list_responsaveis">
					</dir-pagination-controls>
				</div>
				<hr>
				<div class="text-center">
						<select class="form-select"
						ng-model="size"
						ng-change="findProcessos(filter)"
						ng-options="page for (idx,page) in itemSize">
						</select>
					<label>Itens por Página &nbsp;&nbsp;/&nbsp;&nbsp;</label>
					<label>{{totalCount}} Responsável(eis) encontrado(s)</label>
				</div>
				</div>
			</div>

			<div modal="showModal" close="cancel()" class="modal fade">
				<div class="modal-dialog" role="document">
    				<div class="modal-content">
						<div class="modal-header">
							<h4>Cadastro Responsável</h4>
						</div>
						<div class="modal-body">
							<table class="table" width="600">
								<tr>
									<td colspan="2" align="center"><img style="max-width: 200px" ng-src="{{foto}}"/></td>
								</tr>
								<tr>
									<td width="200">Nome</td>
									<td><input type="text" ng-model="responsavel.nome" class="form-control"/></td>
								</tr>
								<tr>
									<td>CPF</td>
									<td><input type="text" ng-model="responsavel.cpf" class="form-control"/></td>
								</tr>
								<tr>
									<td>Email</td>
									<td><input type="text" ng-model="responsavel.email" class="form-control"/></td>
								</tr>
								<tr>
									<td>Foto</td>
									<td><input type='file' ng-model='responsavel.fotoLocal' ng-change="changeFoto(responsavel.fotoLocal)" base-sixty-four-input></td>
								</tr>
							</table>
						</div>
						<div class="modal-footer">
						  <button class="btn btn-success" ng-click="saveResponsavel()">Salvar</button>
						  <button class="btn" ng-click="cancel()">Cancelar</button>
						</div>
					</div>
				</div>
			  </div>
		</div>
	</div>


	<script src="js/angular.min.js"></script>
	<script src="js/dir-pagination.js"></script>
	<script src="js/angular-ui-bootstrap-modal.js"></script>
	<script src="js/angular-base64-upload.js"></script>
	<script src="app/base-url.js"></script>
	<script src="app/module.js"></script>
	<script src="app/model.js"></script>
	<script src="app/services/responsavel-service.js"></script>
	<script src="app/controllers/responsavel-controller.js"></script>


 </body>
</html>
